<!DOCTYPE html><!--#tells browser you are using HTML5-->
<html lang="en"><!--#root of an html document-->
<head><!--#container for metadata--->
    <meta charset="UTF-8"><!--#page title-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>"Hello"</title>
    <link rel="stylesheet" href="static/style.css" type="text/css" media="screen">
</head>
    <body>
        <div class="Form"><!--This is Div Container-->
            <label>Welcome</label><!--This is Label Tag-->
            <form action="/input",method='GET'><!--Form Tag-->
                <label>Full Name:</label>
                <input name="name" type="text" placeholder="Enter your name"><br>
                <label>Email:</label>
                <input name="email" type="email" placeholder="Enter your name"><br>
                <label>Phone Number:</label>
                <input name="number" type="number" placeholder="Enter your number"><br>
                <label>Confirm password:</label>
                <input name="password" type="password" placeholder="Enter your password"><br>
                <label id="Sub">Submit:</label>
                <input type="submit">
            </form>
        </div>
    </body>
<script src="static/Jquery/jquery-3.6.0.min.js"></script>
<script src="static/script.js"></script>
</html>
